@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body {
    font-size: 1.5em;
    font-family: 'Droid Sans', sans-serif;
}

p, li {
    line-height: 1.5em;
}

body,
.slides,
.slide.current {
    color: #FFFFFF;
    background-color: #69A8C2;
}

div.slide h1,
div.slide h2,
div.slide h3,
div.slide h4,
div.slide h5,
div.slide h6 {
    color: #3E6478;
    font-weight: bold;
}

div.slide h1 {
    margin: auto;
}

.slide.future {
    display:none;
}

.slide header:only-child h1 {
    font-size: 70px;
}

.center {
    text-align: center;
}

blockquote:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f02d";
    margin-right: 10px;
    float: left;
}

blockquote {
    margin: auto;
    text-indent: 0;
    background: #373637;
    padding: 10px 10px 7px 10px;
    clear: both;
}

blockquote p:before,
blockquote p:after,
blockquote.no-before-icon:before {
    content: none;
}

blockquote.no-before-icon i {
    margin-right: 10px;
    line-height: 1.5em;
    float: left;
}

blockquote.quote p,
blockquote.info p {
    display: inline;
}

blockquote.quote:before,
blockquote.info:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    display: inline-block;
}

blockquote.quote:before {
    content: "\f10d";
}

blockquote.info:before {
    content: "\f05a";
}

blockquote.quote:after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f10e";
    margin-left: 10px;
    display: inline-block;
}

a,
a:visited {
    color: #FFFFFF;
}

a:hover,
a:focus {
    color: #3E6478;
}

pre {
    padding: 5px 10px 5px 10px;
    font-size: 75%;
    font-family: Courier, monospace;
}

code {
    padding: 2px 6px 3px 6px;
    font-size: 100%;
    font-family: Courier, monospace;
    background-color: #073642;
    color: #FFF;
}

strong, b {
    font-weight: bolder;
    font-size: 110%;
}

li {
    padding: 5px 0;
}

ol li p {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    margin-top: 10px;
}

h1 img {
    margin-top: 30px;
}

img {
    border-radius: 3px;
    box-shadow: 3px 3px 10px 5px #373637;
}

.no-border h1 img {
    margin-top: auto;
}

.no-border img {
    border-radius: 0;
    box-shadow: none;
}

.sidebar,
.sidebar a,
.sidebar a:visited {
    color: #000;
}

#toc img {
    display: none;
}

.slides .color-red h1 {
    color: #C82D26;
    font-size: 8em !important;
}

table {
    margin-bottom: 3%;
}

.more-on-this-later {
    display: none;
}
