body {
    font-size: 24px;
}

div.presentation, div.slides {
    -moz-border-radius:     10px;
    -webkit-border-radius:  10px;
    -khtml-border-radius:   10px;
    border-radius:          10px;
}
.slides {
    background: top right url(css/php.gif) no-repeat #fff;
}
.slide.future {display:none;}

.slide header:only-child h1 {
    font-size: 70px;
}
.slides .slide {background:transparent;}

.center {
    text-align: center;
}

blockquote {
    text-indent: 0;
    margin: auto;
    border: 1px solid #DDE;
    background: ghostWhite;
    padding: 10px;
}

blockquote p:before,
blockquote p:after {
    content: none;
}

a,
a:visited {
    color: blue;
}

pre {
    padding: 5px;
    font-size: 20px;
    font-family: Courier, monospace;
}
